APP_NAME=PhysioTwin AI
ENV=dev
API_PREFIX=/api
DATABASE_URL=sqlite:///./physiotwin.db
JWT_SECRET=CHANGE_ME_TO_A_LONG_RANDOM_SECRET
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200
FRONTEND_ORIGIN=http://localhost:3000


